<footer class="footer">
  <div class="container">
    <div class="copyright  typeset">
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small><br>
      <a href="https://www.piano010.nl" target="_blank">
        {% include icon.html id="link" title="send an e-mail" %} <small class="small">www.piano010.nl</small>
      </a><br>
      <a href="mailto:selenapaydin@gmail.com" target="_blank">
        {% include icon.html id="email" title="send an e-mail" %} <small class="small">selenapaydin@gmail.com</small>
      </a><br>
      <br><br>
    </div>
    {% include nav-footer.html %}
  </div>
</footer>
