---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <article class="article  article--page  content  typeset">
    <section id="wide-div">
      <section class="hero is-fullheight has-text-centered" id="hero">
        <div class="hero-body">
          <div class="container">
            <p id="title">
              <span id="name">Selen</span>
              <br><span id="surname">Apaydın</span>
            </p>
          </div>
        </div>
      </section>
    </section>
    <section id="news-events">
      {{ content }}
    </section>
  </article>

</main>

{% include site-footer.html %}
